.wb-footer-basic {
    padding: 40px 0;
    background: linear-gradient(90deg, #8D30B6 0%, #E43572 103.51%);
    color: #4b4c4d;
}

.wb-footer-basic .social {
    text-align: center;
    padding-bottom: 25px;
}

.wb-footer-basic .social > a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
}

.wb-footer-basic .social > a:hover {
    opacity: 0.9;
}

.wb-footer-basic .copyright {
    margin-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #fff;
    margin-bottom: 0;
}
